### Hrishikesh Mahajan | Panel 6 | PF-53
### DWDM Data Preprocessing 

    1. Data Cleaning

        1.1. Handling Missing Values
        1.2. Handling Data Duplication (Drop duplicate method(~))

    2. Data Integration

        2.1 Integration of two .csv files

    3. Data Reduction

        3.1. Feature Selection
        3.2. Histogram
        3.3. Correlation analysis

    4. Data Transformation

        4.1 Data Smoothening and Normalization (Min Max and z-score)
        4.2 ToString method (Upper and lowercase conversion)

    5. Data Discreetization

        5.1 Cut Method

In [8]:
import numpy as np  #Used for numerical processing
import pandas as pd #Used for displaying and manipulating large tables
import matplotlib.pyplot as plt #Graphing
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler

In [21]:
dataset = pd.read_csv('WorldCupMatches.csv') #Reading our dataset into memory

In [22]:
dataset.columns #Lists all the columns in the dataset

Index(['Year', 'Datetime', 'Stage', 'Stadium', 'City', 'Home Team Name',
       'Home Team Goals', 'Away Team Goals', 'Away Team Name',
       'Win conditions', 'Attendance', 'Half-time Home Goals',
       'Half-time Away Goals', 'Referee', 'Assistant 1', 'Assistant 2',
       'RoundID', 'MatchID', 'Home Team Initials', 'Away Team Initials'],
      dtype='object')

In [23]:
dataset.shape #Dataset shape is given wherein tuple is returned (rows, columns)

(4572, 20)

In [24]:
dataset.head(10) #Displaying first 10 elements of the dataset

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
0,1930.0,13 Jul 1930 - 15:00,Group 1,Pocitos,Montevideo,France,4.0,1.0,Mexico,,4444.0,3.0,0.0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201.0,1096.0,FRA,MEX
1,1930.0,13 Jul 1930 - 15:00,Group 4,Parque Central,Montevideo,USA,3.0,0.0,Belgium,,18346.0,2.0,0.0,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),201.0,1090.0,USA,BEL
2,1930.0,14 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,2.0,1.0,Brazil,,24059.0,2.0,0.0,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201.0,1093.0,YUG,BRA
3,1930.0,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3.0,1.0,Peru,,2549.0,1.0,0.0,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201.0,1098.0,ROU,PER
4,1930.0,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1.0,0.0,France,,23409.0,0.0,0.0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201.0,1085.0,ARG,FRA
5,1930.0,16 Jul 1930 - 14:45,Group 1,Parque Central,Montevideo,Chile,3.0,0.0,Mexico,,9249.0,1.0,0.0,CRISTOPHE Henry (BEL),APHESTEGUY Martin (URU),LANGENUS Jean (BEL),201.0,1095.0,CHI,MEX
6,1930.0,17 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,4.0,0.0,Bolivia,,18306.0,0.0,0.0,MATEUCCI Francisco (URU),LOMBARDI Domingo (URU),WARNKEN Alberto (CHI),201.0,1092.0,YUG,BOL
7,1930.0,17 Jul 1930 - 14:45,Group 4,Parque Central,Montevideo,USA,3.0,0.0,Paraguay,,18306.0,2.0,0.0,MACIAS Jose (ARG),APHESTEGUY Martin (URU),TEJADA Anibal (URU),201.0,1097.0,USA,PAR
8,1930.0,18 Jul 1930 - 14:30,Group 3,Estadio Centenario,Montevideo,Uruguay,1.0,0.0,Peru,,57735.0,0.0,0.0,LANGENUS Jean (BEL),BALWAY Thomas (FRA),CRISTOPHE Henry (BEL),201.0,1099.0,URU,PER
9,1930.0,19 Jul 1930 - 12:50,Group 1,Estadio Centenario,Montevideo,Chile,1.0,0.0,France,,2000.0,0.0,0.0,TEJADA Anibal (URU),LOMBARDI Domingo (URU),REGO Gilberto (BRA),201.0,1094.0,CHI,FRA

In [25]:
dataset.isna().sum() #Calculating na values in columns

Year                    3720
Datetime                3720
Stage                   3720
Stadium                 3720
City                    3720
Home Team Name          3720
Home Team Goals         3720
Away Team Goals         3720
Away Team Name          3720
Win conditions          3720
Attendance              3722
Half-time Home Goals    3720
Half-time Away Goals    3720
Referee                 3720
Assistant 1             3720
Assistant 2             3720
RoundID                 3720
MatchID                 3720
Home Team Initials      3720
Away Team Initials      3720
dtype: int64

In [27]:
dataset.tail() #Displays last 10 values of the dataset

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
4567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4568,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4569,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4570,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4571,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
dataset = dataset.dropna() #Drops the null values

In [31]:
dataset.isna().sum() #as we can see now that the na data is gone!

Year                    0
Datetime                0
Stage                   0
Stadium                 0
City                    0
Home Team Name          0
Home Team Goals         0
Away Team Goals         0
Away Team Name          0
Win conditions          0
Attendance              0
Half-time Home Goals    0
Half-time Away Goals    0
Referee                 0
Assistant 1             0
Assistant 2             0
RoundID                 0
MatchID                 0
Home Team Initials      0
Away Team Initials      0
dtype: int64

In [33]:
dataset.shape

(850, 20)

In [52]:
for i in dataset.columns:
    if type(dataset[i][0]) == 'numpy.float64':
        print("Column: {}, Mean: {}".format(i,dataset[i].mean())) #Dataset mean year

In [47]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 850 entries, 0 to 851
Data columns (total 20 columns):
Year                    850 non-null float64
Datetime                850 non-null object
Stage                   850 non-null object
Stadium                 850 non-null object
City                    850 non-null object
Home Team Name          850 non-null object
Home Team Goals         850 non-null float64
Away Team Goals         850 non-null float64
Away Team Name          850 non-null object
Win conditions          850 non-null object
Attendance              850 non-null float64
Half-time Home Goals    850 non-null float64
Half-time Away Goals    850 non-null float64
Referee                 850 non-null object
Assistant 1             850 non-null object
Assistant 2             850 non-null object
RoundID                 850 non-null float64
MatchID                 850 non-null float64
Home Team Initials      850 non-null object
Away Team Initials      850 non-null object
dtypes: float64(8), object(12)
memory usage: 179.5+ KB

In [72]:
#reading new titanic dataset
titanic_train = pd.read_csv('titanic_train.csv')
print("Train dimensions = {}".format(titanic_train.shape))
titanic_test = pd.read_csv('titanic_test.csv')
print("Test dimensions = {}".format(titanic_test.shape))

Train dimensions = (891, 12)
Test dimensions = (418, 11)

In [73]:
#finding null value status of the data
print("Train dataset: ")
print(titanic_train.isna().sum())
print("Test dataset: ")
print(titanic_test.isna().sum())

Train dataset:
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64
Test dataset:
PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [74]:
# Finding and replacing the null values with average in dataset for column age
titanic_train['Age'].fillna(titanic_train['Age'].mean(), inplace = True)
print("Null Values in Age: {}".format(titanic_train['Age'].isna().sum()))
titanic_test['Age'].fillna(titanic_test['Age'].mean(), inplace = True)
print("Null Values in Age: {}".format(titanic_test['Age'].isna().sum()))

Null Values in Age: 0
Null Values in Age: 0

In [75]:
#cabin is irrelevant data hence we have decided to remove it
titanic_train = titanic_train.drop(columns='Cabin')
titanic_test = titanic_test.drop(columns='Cabin')

In [76]:
# Re-evaluating null value situation
print("Train dataset: ")
print(titanic_train.isna().sum())
print("Test dataset: ")
print(titanic_test.isna().sum())

Train dataset:
PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       2
dtype: int64
Test dataset:
PassengerId    0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           1
Embarked       0
dtype: int64

In [77]:
titanic_train = titanic_train.dropna()
titanic_test = titanic_test.dropna()

In [78]:
# Now our data is clean
print("Train dataset: ")
print(titanic_train.isna().sum())
print("Test dataset: ")
print(titanic_test.isna().sum())

Train dataset:
PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64
Test dataset:
PassengerId    0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

#### Tuple duplication

In [80]:
#in order to give demo of duplication we add some rows to the dataset
titanic_train_dup = titanic_train[4:55] #random rows i will add
titanic_train = titanic_train.append(titanic_train_dup)
titanic_train.shape

(940, 11)

In [84]:
bool_series = titanic_train.duplicated()

In [85]:
titanic_train = titanic_train[~bool_series]

In [86]:
titanic_train.duplicated().value_counts()

False    889
dtype: int64

In [89]:
for i in titanic_train.columns:
    if titanic_train[i] != 'object':
        print(titanic_train.columns[i])

int64
int64
int64
float64
int64
int64
float64