# Lists
    
    Lists have the following functions
    1. Append
    2. Sort
    3. Extend
    4. Count
    5. Clear
    6. Insert
    7. Pop
    8. Remove
    9. Reverse

In [1]:
list_a = ['a','b','c']

In [2]:
tuple_a = (1,2,3,4)

In [3]:
tuple_a[0]

1

In [4]:
list_a[0]

'a'

In [5]:
#lists are mutable data types
list_a[0] = 'o'
list_a

['o', 'b', 'c']

In [14]:
#here we use list comprehension to populate list
list_b = [i for i in range(0,25)]

In [15]:
list_b

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24]

In [21]:
#lists can be sorted either in ascending or descending order using the parameters
list_b.sort(reverse = True)

In [17]:
#printing list after sort
list_b

[24,
 23,
 22,
 21,
 20,
 19,
 18,
 17,
 16,
 15,
 14,
 13,
 12,
 11,
 10,
 9,
 8,
 7,
 6,
 5,
 4,
 3,
 2,
 1,
 0]

In [22]:
#List Append function appends any one item to the list
list_b.append(8)

In [23]:
list_b

[24,
 23,
 22,
 21,
 20,
 19,
 18,
 17,
 16,
 15,
 14,
 13,
 12,
 11,
 10,
 9,
 8,
 8,
 7,
 6,
 5,
 4,
 3,
 2,
 1,
 0,
 8]

In [24]:
#here we pop one element which is the last one and will be returned to us 
list_b.pop()

8

In [25]:
#lists can further consist of lists
list_c = [[2,4,5],[23,5,8],[9,6,6]]

In [26]:
list_c

[[2, 4, 5], [23, 5, 8], [9, 6, 6]]

In [29]:
list_c.sort()

In [30]:
list_c

[[2, 4, 5], [9, 6, 6], [23, 5, 8]]

In [32]:
#the clear function clears the list
list_c.clear()

In [33]:
list_c

[]

In [36]:
#now we demonstrate slicing
list_c = [[2,4,5],[23,5,8],[9,6,6]]

In [41]:
list_c[1:3]

[[23, 5, 8], [9, 6, 6]]

In [42]:
list_c[0:2]

[[2, 4, 5], [23, 5, 8]]

In [43]:
list_c.extend([[44,22,67],[345,22,34]])

In [44]:
#as we see here it is clear that extend can be used to append lists to lists 
#while append can be used to attach a single more element to the list
list_c

[[2, 4, 5], [23, 5, 8], [9, 6, 6], [44, 22, 67], [345, 22, 34]]

# Tuple

     Tuple has the following functions
     1. Count
     2. Index

In [34]:
#here we declare a random tuple
example_tuple = (1,5,6,3,1)

In [35]:
#now if we try to change the contents of the tuple we cannot do it as tuples are immutable
example_tuple[3] = 77

TypeError: 'tuple' object does not support item assignment

In [45]:
#counts the number of 1s present in the tuple
example_tuple.count(1)

2

In [47]:
# index function is used for giving the index of the element you are trying to search
example_tuple.index(6)

2

# Set

In [57]:
set_a = {'a','b','c','d','e','f','g'}
set_b = {'b','c','x','y','z','l','m'}

In [58]:
#adds an element to the set
set_a.add('q')
set_a

{'a', 'b', 'c', 'd', 'e', 'f', 'g', 'q'}

In [59]:
# here an arbitrary element of the set is popped
set_a.pop()

'f'

In [60]:
# here we get the common elements of the two strings
set_a.intersection(set_b)

{'b', 'c'}

In [61]:
# here we get all the elements of the two strings
set_a.union(set_b)

{'a', 'b', 'c', 'd', 'e', 'g', 'l', 'm', 'q', 'x', 'y', 'z'}

In [63]:
#now we check for subset function
set_subset_a = {'a','b','c'}
set_subset_a.issubset(set_a)

True

In [65]:
#tests if calling set is super set
set_a.issuperset(set_subset_a)

True

# Dictionary

In [66]:
dictionary_a = { 1: ['Hari', 29, 'Pune'], 2: ['Omkar', 78, 'Mumbai']}

In [67]:
dictionary_a

{1: ['Hari', 29, 'Pune'], 2: ['Omkar', 78, 'Mumbai']}

In [69]:
# Gives the keys used in dictionary
dictionary_a.keys()

dict_keys([1, 2])

In [71]:
#gives the values in the dictionary
dictionary_a.values()

dict_values([['Hari', 29, 'Pune'], ['Omkar', 78, 'Mumbai']])

In [73]:
dictionary_a[1] = ['Joey',121, 'Kolkata']

In [74]:
dictionary_a

{1: ['Joey', 121, 'Kolkata'], 2: ['Omkar', 78, 'Mumbai']}

# Paragraph exercise

In [103]:
para = 'Python was conceived in the late 1980s as a successor to the ABC language. Python 2, released in 2000, introduced features like list comprehensions and a garbage collection system capable of collecting reference cycles. Python 3, released in 2008, was a major revision of the language that is not completely backward-compatible, and much Python 2 code does not run unmodified on Python 3. Due to concern about the amount of code written for Python 2.'

In [104]:
para_list = list(para.split('.'))
for i in range(len(para_list)):
    print(para_list[i])

Python was conceived in the late 1980s as a successor to the ABC language
 Python 2, released in 2000, introduced features like list comprehensions and a garbage collection system capable of collecting reference cycles
 Python 3, released in 2008, was a major revision of the language that is not completely backward-compatible, and much Python 2 code does not run unmodified on Python 3
 Due to concern about the amount of code written for Python 2

In [87]:
#using function calculate sum of numbers
def add(*args):
    sumis = sum(args[0])
    print(sumis)

In [88]:
list_x = [7,8,6]

In [89]:
add(list_x)

21

In [105]:
def squares(*args):
    args = list(args)
    squares = [i**2 for i in args[0]]
    print(squares)

In [106]:
squares(list_x)

[49, 64, 36]

In [98]:
def sum_of_squares(*args):
    squares = [i**2 for i in args[0]]
    print(sum(squares))

In [99]:
sum_of_squares(list_x)

149