### Hrishikesh Mahajan | Panel 6 | PF-53
### Faculty: Prof. Varsha Powar
### DWDM Python Prerequisite (Submission Copy)

### Lists

    1) Creating lists
    2) Indexing and Slicing Lists
    3) Basic List Methods
    4) Nesting Lists
    5) Introduction to List Comprehensions

Lists are constructed with brackets [] and commas separating every element in the list.

In [1]:
#can hold n number of elements 
my_list = [1,2,3,4,5]

In [4]:
#can hold different datatypes
my_list = ['String',23000,178.32,'g']

In [5]:
#computing length
len(my_list)

4

In [6]:
#Indexing 
my_list[2]
#notice that indexing starts at 0

178.32

In [7]:
#slicing (Getting a part of a list)
my_list[1:3]

[23000, 178.32]

In [8]:
#negative indexing
my_list[-1]
#gives elements from reverse order

'g'

In [9]:
#Adding elements to the list 
my_list.append('Apple')

In [10]:
my_list

['String', 23000, 178.32, 'g', 'Apple']

In [11]:
#pop and return popped item
my_list.pop()

'Apple'

In [12]:
#typecasting strings to lists
demo_string = 'Lorem Ipsum Dolor'
string_to_list = list(demo_string.split())
string_to_list

['Lorem', 'Ipsum', 'Dolor']

In [18]:
#mapping strings in list to integer
integers_in_string = "1 2 3 4 7 44 34"
string_to_list = list(integers_in_string.split())
print("Numbers still in string format: ")
print(string_to_list)
print("{} + {} = {}".format(string_to_list[0], string_to_list[1],string_to_list[0]+string_to_list[1]))
string_to_list = list(map(int, string_to_list))
print("Numbers now in Integer Format")
print(string_to_list)
print("{} + {} = {}".format(string_to_list[0], string_to_list[1],string_to_list[0]+string_to_list[1]))

Numbers still in string format:
['1', '2', '3', '4', '7', '44', '34']
1 + 2 = 12
Numbers now in Integer Format
[1, 2, 3, 4, 7, 44, 34]
1 + 2 = 3

In [23]:
print("List before sorting: ")
num_list = [87,345,67,345,24,6,4576,22]
print(num_list)
print("List after sorting: ")
num_list.sort()
print(num_list)
print("List after reversing: ")
num_list.reverse()
print(num_list)

List before sorting:
[87, 345, 67, 345, 24, 6, 4576, 22]
List after sorting:
[6, 22, 24, 67, 87, 345, 345, 4576]
List after reversing:
[4576, 345, 345, 87, 67, 24, 22, 6]

In [24]:
#Nested Lists
list_1 = [34,56,12]
list_2 = [34,67,33]
list_3 = [27,64,12]

list_all = [list_1,list_2, list_3]
print(list_all)

[[34, 56, 12], [34, 67, 33], [27, 64, 12]]

In [25]:
list_all[1][1]

67

In [26]:
# List comprehensions
comp_list = [i for i in range(1302,1312)]
print(comp_list)

[1302, 1303, 1304, 1305, 1306, 1307, 1308, 1309, 1310, 1311]

# Tuple

    1.) Constructing Tuples
    2.) Basic Tuple Methods
    3.) Immutability
    4.) When to Use Tuples.

In [32]:
my_tuple = ('one', 2, 3)

In [34]:
#index gives the index of the element passed in the function present in the tuple
my_tuple.index('one')

0

In [37]:
#count gives the number of times the element appears in the tuple
my_tuple = (3, 5, 2, 2, 2, 5, 3)

In [38]:
my_tuple.count(2)

3

In [42]:
#It can't be stressed enough that tuples are immutable. To drive that point home:
#my_tuple[0] = 90
'''
TypeError                                 Traceback (most recent call last)
<ipython-input-39-fd58395d990e> in <module>
      1 #It can't be stressed enough that tuples are immutable. To drive that point home:
----> 2 my_tuple[0] = 90

TypeError: 'tuple' object does not support item assignment
'''

"\nTypeError                                 Traceback (most recent call last)\n<ipython-input-39-fd58395d990e> in <module>\n      1 #It can't be stressed enough that tuples are immutable. To drive that point home:\n----> 2 my_tuple[0] = 90\n\nTypeError: 'tuple' object does not support item assignment\n"

In [41]:
#Because of this immutability, tuples can't grow. Once a tuple is made we can not add to it.
#my_tuple.append(7)
'''
---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-40-3f71281178a3> in <module>
      1 #Because of this immutability, tuples can't grow. Once a tuple is made we can not add to it.
----> 2 my_tuple.append(7)

AttributeError: 'tuple' object has no attribute 'append'
'''

"\n---------------------------------------------------------------------------\nAttributeError                            Traceback (most recent call last)\n<ipython-input-40-3f71281178a3> in <module>\n      1 #Because of this immutability, tuples can't grow. Once a tuple is made we can not add to it.\n----> 2 my_tuple.append(7)\n\nAttributeError: 'tuple' object has no attribute 'append'\n"

### Set

In [43]:
my_set = set()

In [46]:
my_set.add(1)
my_set

{1}

In [47]:
my_set.add(3)
my_set

{1, 3}

In [48]:
my_set.add(7)
my_set

{1, 3, 7}

In [49]:
my_set.add(1)
my_set
# notice how it wont add 1 again since it is a set

{1, 3, 7}

In [50]:
set_a = {'a','b','c','d','e','f','g'}
set_b = {'b','c','x','y','z','l','m'}

In [52]:
# here we get the common elements of the two strings
set_a.intersection(set_b)

{'b', 'c'}

In [53]:
# here we get all the elements of the two strings
set_a.union(set_b)

{'a', 'b', 'c', 'd', 'e', 'f', 'g', 'l', 'm', 'x', 'y', 'z'}

In [54]:
#now we check for subset function
set_subset_a = {'a','b','c'}
set_subset_a.issubset(set_a)

True

In [55]:
#tests if calling set is super set
set_a.issuperset(set_subset_a)

True

### Dictionary

In [56]:
dictionary_a = { 1: ['Hari', 29, 'Pune'], 2: ['Omkar', 78, 'Mumbai']}
dictionary_a

{1: ['Hari', 29, 'Pune'], 2: ['Omkar', 78, 'Mumbai']}

In [61]:
# Gives the keys used in dictionary
print("Keys: {}".format(dictionary_a.keys()))

#gives the values in the dictionary
print("Values: {}".format(dictionary_a.values()))

Keys: dict_keys([1, 2])
Values: dict_values([['Hari', 29, 'Pune'], ['Omkar', 78, 'Mumbai']])

In [62]:
dictionary_a[1] = ['Joey',121, 'Kolkata']
dictionary_a

{1: ['Joey', 121, 'Kolkata'], 2: ['Omkar', 78, 'Mumbai']}

### Functions in Python

In [63]:
def add(a, b):
    return a + b

In [64]:
add(1,2)

3

In [65]:
#the above function is somewhat limited in taking arguments so we use *args
def add(*args):
    return sum(args)

In [66]:
add(1,2)

3

In [67]:
add(9,4,23,56)

92

In [69]:
def sum_of_squares(*args):
    squares = [i**2 for i in args]
    return sum(squares)

In [70]:
sum_of_squares(2,3)

13

In [71]:
sum_of_squares(2,3,6,5,4,3)

99

In [82]:
def para_maker(para_text):
    para_text = para_text.split('.')
    for line in para_text:
        print(line, end='\n')

In [83]:
para_maker("Hello.I am Todd.Todd Chavez")

Hello
I am Todd
Todd Chavez

In [84]:
para_maker("Bojack Horseman and Mister PeanutButter in the same frame?.What is this?.A crossover episode?")

Bojack Horseman and Mister PeanutButter in the same frame?
What is this?
A crossover episode?